/* Rimuoviamo la sottolineatura a tutti i link */

a {
    text-decoration: none;
    color: blue;
}


/* Quando l'utente passa il mouse sopra l'annuncio dell'auto */

a:hover {
    color: red;
    text-decoration: underline;
    /* Riappare la sottolineatura */
    font-weight: bold;
}


/* Quando il link è già stato visitato */

a:visited {
    color: purple;
}


/* Selettore di ID: nota il cancelletto # */

#mioelem {
    font-weight: bold;
    color: darkblue;
}


/* STILE STANDARD (per Computer) */

.auto-card {
    background-color: lightgray;
    /* Grigio chiaro su PC */
    padding: 20px;
    border: 2px solid #333;
    width: 500px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}


/* STILE PER SMARTPHONE (Schermi fino a 600px) */

@media (max-width: 600px) {
    .auto-card {
        background-color: lightblue;
        /* Diventa azzurra su mobile [cite: 391] */
        width: 90%;
        /* Occupa quasi tutta la larghezza dello schermo */
        padding: 10px;
        border-color: blue;
    }
    h2 {
        font-size: 18px;
        /* Rimpiccioliamo il titolo per il cellulare */
    }
}